
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Zeyada', cursive;
    font-size: 200px;
    font-weight: 100;
}
/* Reset margins and padding */
html, body {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #DBBEC0;
    height: 100vh;
}

main {
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

Result Skip Results Iframe
EDIT ON
@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}