
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Zeyada', cursive;
    font-size: 200px;
    font-weight: 100;
}
/* Reset margins and padding */
html, body {
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #000000;
    height: 100vh;
}

main {
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

.hidden {
  opacity:0;
}
.console-container {
 
    font-family: 'Orbitron';
  font-size:4em;
  text-align:center;
  height:200px;
  width:800px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

#scroll {
    color: white;
    position: absolute;
    top: 85%;
    left: 45%;
}


.section2 {
    background-color: blue;
    height: 100vh;
    margin: 0;
}

.material-symbols-outlined {
    color: white;
}

.hidden {
    display: none;
}